.amenities-container {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: .5rem;
}

.amenity {
  line-height: 1.6;
  padding: .5rem;
}

.amenity h3 {
  color: #8496A2;
}

@media only screen and (min-width: 768px) {
  .amenities-container {
    grid-template-columns: 1fr 1fr;
    column-gap: 1rem;
  }
}