.contact {
  display: grid;
  grid-template-columns: 1fr;
  width: 100%;
}

.contact-img {
  display: none;
}

.form-parent {
  display: grid;
  place-items: center;
  background: linear-gradient(to bottom, rgba(193, 213, 219, 1), rgba(194, 214, 220, 1) 25%, rgba(194, 216, 221));

  padding: 2rem 1rem;
}

.form {
  /* background: linear-gradient(to bottom, rgba(193, 213, 219, 1), rgba(194, 214, 220, 1) 25%, rgba(194, 216, 221)); */
}

.contact-title {
  /* padding: 1rem 1.5rem; */
  padding: 1rem 1.5rem 0 1.5rem;
}

.contact-underline {
  width: 5rem;
  height: 0.25rem;
  margin-bottom: 2rem;
  background: #3a5668;
  margin-left: auto;
  margin-right: auto;
}

.form-inputs {
  padding: 1rem 1.5rem;
}

.input {
  width: 100%;
  margin-bottom: 1.25rem;
  padding: 0.75rem 1rem;
  background-color: transparent; 
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: groove;
}

.input:focus {
  outline: none;
}

.input-textarea:focus {
  outline: none;
}

.input-textarea {
  width: 100%;
  margin-bottom: 1.25rem;
  padding: 0.75rem 1rem;
  background-color: transparent; 
}

.button {
  padding: 1rem 1.5rem;
}

.button button {
  background: #69C6FA;
  border: #69C6FA;
  color: white;
  border-radius: 6px;
  padding: 1em 1.25em;
}

.submit-btn {
  width: 50%;
  padding: 1rem;
}

@media only screen and (min-width: 1024px) {
  .contact {
    grid-template-columns: 1fr 1fr;
  }

  .contact-img {
    display: initial;
    position: relative;
  }

  .contact-gradient {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    
    background-color: lightblue;
    opacity: 0.5;
  }

  .form-parent {
    padding: 0 2rem 0 0;
  }

  .name-email {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .input {
    width: 50%;
  }

  .input-name {
    margin-right: 1rem;
  }
}

