.contact {
  /* padding-top: 4rem; */
  padding-bottom: 4rem;
}

.form-inputs {
  padding: 1rem 1.5rem;
}

.input {
  width: 100%;
  margin-bottom: 1.25rem;
  padding: 0.75rem 1rem;
  /* background-color: transparent;  */
}

.button {
  padding: 1rem 1.5rem;
}

.submit-btn {
  width: 100%;
  padding: 1rem;
}

