/*
==================
Navbar
==================
*/

.navbar {
  position: absolute;
  top: 0;
  width: 100%;
  height: 5rem;
  display: flex;
  align-items: center;
  z-index: 200;
  background: white;
  box-shadow: 0 2px 4px 2px black;
}

.nav-container {
  width: 90vw;
  max-width: 1170px;
  margin: 0 auto;
}

.toggle-btn {
  font-size: 2rem;
  background: transparent;
  border-color: transparent;
  color: lightblue;
  cursor: pointer;
  /* transition: var(--transition); */
}

.nav-links {
  display: none;
}

