.pictures-container {
  display: grid;
  place-items: center;
  row-gap: 1rem;
}

.pic1 {
  width: 300px;
}

.pic2 {
  width: 300px;
}

.pic3 {
  width: 300px;
}

.pictures-button {
  display: grid;
  place-items: center;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

@media only screen and (min-width: 768px) {
  
}