.services-container {
  display: grid;
  place-items: center;
  -webkit-row-gap: 2rem;
  -moz-row-gap: 2rem;
  row-gap: 2rem;
}

.service {
  display: grid;
  place-items: center;
  text-align: center;
  background-color: rgb(228, 228, 228);
  padding: 1.45rem;;

  width: 300px;
  height: 250px;
  border-radius: 6px;
}

.service h4 {
  margin-bottom: 0;
  margin-top: 1rem;
}

.service p {
  margin-bottom: 0;
}

/* .service-children {

} */

.service-icon-container {
  /* margin-bottom: 1.45rem; */
}

.service-icon {
  font-size: 3em;
  color: lightblue;
}

/* Landscape mode and tablets*/
@media only screen and (min-width: 640px) {
  .services-container {
    grid-template-columns: 1fr 1fr;
    -webkit-column-gap: 1rem;
    -moz-column-gap: 1rem;
    column-gap: 1rem;
    -webkit-row-gap: 3rem;
    -moz-row-gap: 3rem;
    row-gap: 3rem;
  }
}

@media only screen and (min-width: 992px) {
  .services-container {
    grid-template-columns: 1fr 1fr 1fr; 
  }

  .service {
    /* width: 20vw; */
  }
}

